# Copyright 2020 @TwoCookingMice

name: build_check

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      -uses: actions/checkout@v2
       name: Checkout
      -uses: actions-rs/toolchain@v1
       name: Set up Cargon toolchain
      -uses: actions-rs/cargo@v1
       name: Build
       with:
         command: build
         args: --release --all-features
